# Additional Data Analysis Features and Techniques

## Dependencies

In [72]:
import pandas as pd
pd.core.common.is_list_like = pd.api.types.is_list_like
# don't forget to always enter your virtualenv environment and to rerun pip install -r requirements.txt to get the latest deps
import pandas_datareader.data as web
from pandas import Series, DataFrame

import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns

from datetime import datetime

%matplotlib inline

## Join/merge operations

In [73]:
stocks = ['ORCL', 'TSLA', 'IBM', 'YELP', 'MSFT']
data_source = 'robinhood'
df = web.DataReader(stocks, data_source)
df.to_csv('rh_data.csv')
df = pd.read_csv('rh_data.csv')

The [join operations](https://en.wikipedia.org/wiki/Relational_algebra#Joins_and_join-like_operators) found in relational algebra are supported by the DataFrame data structure via the `.merge()` method (more documentation can be found [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html)).

In the code below, we create two data frames (each for a particular stock) and then join the two data frames by date.

In [74]:
orcl = df[df['symbol'] == 'ORCL'][['symbol', 'begins_at', 'close_price']]
msft = df[df['symbol'] == 'MSFT'][['symbol', 'begins_at', 'close_price']]
orcl.merge(msft, left_on='begins_at', right_on='begins_at')

    symbol_x   begins_at  close_price_x symbol_y  close_price_y
0       ORCL  2017-09-18        47.5691     MSFT        73.8228
1       ORCL  2017-09-19        47.2836     MSFT        74.0978
2       ORCL  2017-09-20        47.2147     MSFT        73.6067
3       ORCL  2017-09-21        47.2147     MSFT        72.8897
4       ORCL  2017-09-22        47.4017     MSFT        73.0861
5       ORCL  2017-09-25        47.2147     MSFT        71.9566
6       ORCL  2017-09-26        47.1655     MSFT        71.9566
7       ORCL  2017-09-27        47.4017     MSFT        72.5361
8       ORCL  2017-09-28        47.3230     MSFT        72.5558
9       ORCL  2017-09-29        47.5888     MSFT        73.1647
10      ORCL  2017-10-02        48.0317     MSFT        73.2826
11      ORCL  2017-10-03        47.9234     MSFT        72.9388
12      ORCL  2017-10-04        48.1301     MSFT        73.3612
13      ORCL  2017-10-05        48.1399     MSFT        74.6184
14      ORCL  2017-10-06        47.6380     MSFT        74.6479
15      ORCL  2017-10-09        47.5986     MSFT        74.9327
16      ORCL  2017-10-10        47.6381     MSFT        74.9327
17      ORCL  2017-10-11        47.7073     MSFT        75.0604
18      ORCL  2017-10-12        47.6579     MSFT        75.7479
19      ORCL  2017-10-13        48.0334     MSFT        76.1114
20      ORCL  2017-10-16        48.2804     MSFT        76.2685
21      ORCL  2017-10-17        48.6065     MSFT        76.2096
22      ORCL  2017-10-18        48.9919     MSFT        76.2292
23      ORCL  2017-10-19        48.7646     MSFT        76.5239
24      ORCL  2017-10-20        48.6658     MSFT        77.4079
25      ORCL  2017-10-23        48.7251     MSFT        77.4275
26      ORCL  2017-10-24        49.3871     MSFT        77.4570
27      ORCL  2017-10-25        49.1104     MSFT        77.2311
28      ORCL  2017-10-26        49.5551     MSFT        77.3588
29      ORCL  2017-10-27        50.2764     MSFT        82.3189
..       ...         ...            ...      ...            ...
222     ORCL  2018-08-06        48.6700     MSFT       107.7082
223     ORCL  2018-08-07        48.4800     MSFT       108.4552
224     ORCL  2018-08-08        48.3900     MSFT       109.0629
225     ORCL  2018-08-09        48.5400     MSFT       109.2422
226     ORCL  2018-08-10        48.3200     MSFT       108.5748
227     ORCL  2018-08-13        48.0100     MSFT       107.7879
228     ORCL  2018-08-14        48.2300     MSFT       109.1326
229     ORCL  2018-08-15        47.8400     MSFT       107.6600
230     ORCL  2018-08-16        48.1000     MSFT       107.6400
231     ORCL  2018-08-17        48.3600     MSFT       107.5800
232     ORCL  2018-08-20        48.4200     MSFT       106.8700
233     ORCL  2018-08-21        48.4100     MSFT       105.9800
234     ORCL  2018-08-22        48.8000     MSFT       107.0600
235     ORCL  2018-08-23        48.9600     MSFT       107.5600
236     ORCL  2018-08-24        49.2600     MSFT       108.4000
237     ORCL  2018-08-27        49.3300     MSFT       109.6000
238     ORCL  2018-08-28        48.6400     MSFT       110.2600
239     ORCL  2018-08-29        48.8900     MSFT       112.0200
240     ORCL  2018-08-30        48.3800     MSFT       111.9500
241     ORCL  2018-08-31        48.5800     MSFT       112.3300
242     ORCL  2018-09-04        48.5800     MSFT       111.7100
243     ORCL  2018-09-05        48.0400     MSFT       108.4900
244     ORCL  2018-09-06        47.7100     MSFT       108.7400
245     ORCL  2018-09-07        47.8100     MSFT       108.2100
246     ORCL  2018-09-10        48.8600     MSFT       109.3800
247     ORCL  2018-09-11        48.9200     MSFT       111.2400
248     ORCL  2018-09-12        49.3400     MSFT       111.7100
249     ORCL  2018-09-13        48.9600     MSFT       112.9100
250     ORCL  2018-09-14        49.2500     MSFT       113.3700
251     ORCL  2018-09-17        49.1800     MSFT       112.1400

[252 rows x 5 columns]

## Aggregation, sorting, and more filtering

Suppose we want to compute *for each stock* an aggregate result over all values along a particular dimension (such as closing price). We can do so using `.groupby()` together with an aggregation operator. Below, we compute the highest closing price for each stock.

In [75]:
closing = df.groupby(['symbol'], sort=False)['close_price'].max().to_frame()
closing

        close_price
symbol
ORCL        52.5455
TSLA       385.0000
IBM        165.5583
YELP        49.3500
MSFT       113.3700

We can sort a data set by a particular column using the `.sort_values()` method.

In [76]:
closing.sort_values('close_price', ascending=True)

        close_price
symbol
YELP        49.3500
ORCL        52.5455
MSFT       113.3700
IBM        165.5583
TSLA       385.0000

Suppose we wanted to recover the dates of the highest closing prices from the `closing` data frame. We could use the `.isin()` method to create a filter.

In [77]:
df[df['close_price'].isin(closing.close_price)][['symbol', 'begins_at', 'close_price']]

     symbol   begins_at  close_price
119    ORCL  2018-03-09      52.5455
252    TSLA  2017-09-18     385.0000
588     IBM  2018-01-18     165.5583
982    YELP  2018-08-10      49.3500
1258   MSFT  2018-09-14     113.3700

Note that we can perform a dictionary sort using multiple columns. The below code sorts the rows in the original data set first by the symbol (in alphabetical ascending order) and then by closing price (in descending order).

In [78]:
df.sort_values(['symbol', 'close_price'], ascending=[True, False])

,symbol,begins_at,close_price,high_price,interpolated,low_price,open_price,session,volume
588,IBM,2018-01-18,165.5583,167.5259,False,164.6087,166.4197,reg,14259345
587,IBM,2018-01-17,165.0982,165.5634,False,163.7374,164.4716,reg,11710033
594,IBM,2018-01-26,163.8157,163.8884,False,162.2984,162.6214,reg,3787913
595,IBM,2018-01-29,163.2871,164.8436,False,162.5138,163.9234,reg,3516995
591,IBM,2018-01-23,162.7487,162.7585,False,159.0875,159.3909,reg,7466232
593,IBM,2018-01-25,161.9851,163.2675,False,161.7110,162.4159,reg,3302520
592,IBM,2018-01-24,161.8872,165.1667,False,161.3488,163.2382,reg,5645003
584,IBM,2018-01-11,160.7419,161.4663,False,159.8608,161.3292,reg,3794453
583,IBM,2018-01-10,160.7223,160.8691,False,159.0777,159.4790,reg,4174105
586,IBM,2018-01-16,160.3992,161.8089,False,159.9098,161.6229,reg,7794195
582,IBM,2018-01-09,160.3797,161.0649,False,159.6259,160.4482,reg,4341810
597,IBM,2018-01-31,160.2524,161.5152,False,159.3332,160.3014,reg,4072830
596,IBM,2018-01-30,160.1741,163.2577,False,159.7189,162.7095,reg,4902341
581,IBM,2018-01-08,160.0272,160.4531,False,158.2955,159.2343,reg,5237523
585,IBM,2018-01-12,159.7042,161.2705,False,159.5965,160.5657,reg,5031886
590,IBM,2018-01-22,159.1756,160.5265,False,157.7170,158.1085,reg,8480795
649,IBM,2018-04-17,159.1385,160.2165,False,156.7650,157.0715,reg,10207534
580,IBM,2018-01-05,159.0679,159.4693,False,157.7081,159.0189,reg,5195764
598,IBM,2018-02-01,158.9798,160.6733,False,158.4903,159.7531,reg,4434242
589,IBM,2018-01-19,158.9504,161.9166,False,157.9029,160.9964,reg,21172488
624,IBM,2018-03-12,158.4957,159.2473,False,157.1210,157.8825,reg,5063497
628,IBM,2018-03-16,158.4957,160.1968,False,157.8825,158.2979,reg,9262656
579,IBM,2018-01-04,158.2945,158.9051,False,156.0136,156.2877,reg,7556249
627,IBM,2018-03-15,157.8528,159.4748,False,156.7748,156.9628,reg,3870595
625,IBM,2018-03-13,157.5660,160.3275,False,157.0617,158.3276,reg,4185590
623,IBM,2018-03-09,157.5561,157.8256,False,155.5683,155.7364,reg,5022238
528,IBM,2017-10-20,157.0733,157.4707,False,154.8442,156.1042,reg,7868803
614,IBM,2018-02-26,156.8342,157.1309,False,153.7980,154.0947,reg,3610292
621,IBM,2018-03-07,156.5770,157.0814,False,153.0266,153.2936,reg,4607677
626,IBM,2018-03-14,156.3792,158.9111,False,156.0034,158.4067,reg,3631825
...,...,...,...,...,...,...,...,...,...
956,YELP,2018-07-05,40.0000,40.0000,False,39.1900,39.5000,reg,788614
958,YELP,2018-07-09,40.0000,40.2500,False,39.5900,40.2500,reg,956162
957,YELP,2018-07-06,39.9600,40.3100,False,39.4200,40.0300,reg,1006692
962,YELP,2018-07-13,39.7900,40.9200,False,39.2750,40.9200,reg,1100615
966,YELP,2018-07-19,39.6900,40.8000,False,39.5450,40.5900,reg,785880
950,YELP,2018-06-26,39.6800,40.4700,False,39.5000,40.2100,reg,1162659
954,YELP,2018-07-02,39.6100,39.6500,False,38.6200,38.7800,reg,788571
959,YELP,2018-07-10,39.4000,40.4300,False,39.2300,40.0000,reg,907005
960,YELP,2018-07-11,39.4000,39.8200,False,38.9500,39.0100,reg,879556
967,YELP,2018-07-20,39.3900,39.9500,False,39.3400,39.7100,reg,1041002
955,YELP,2018-07-03,39.3000,39.8200,False,38.8500,39.7000,reg,713985
953,YELP,2018-06-29,39.1800,39.5600,False,39.0090,39.3100,reg,839140
952,YELP,2018-06-28,39.1200,39.3600,False,38.0700,38.5800,reg,1329354
970,YELP,2018-07-25,38.9900,39.2800,False,38.1100,38.2700,reg,1717116
857,YELP,2018-02-12,38.9700,39.2200,False,37.7600,38.5700,reg,1921718
978,YELP,2018-08-06,38.7500,38.8900,False,37.5000,38.0000,reg,2330941
951,YELP,2018-06-27,38.7000,39.8800,False,38.6315,39.7300,reg,1444577
858,YELP,2018-02-13,38.6700,39.4300,False,38.5300,38.6900,reg,1145272
979,YELP,2018-08-07,38.6500,39.9200,False,38.2600,38.7700,reg,2632485
968,YELP,2018-07-23,38.6400,39.3300,False,38.2900,39.1500,reg,2241828
855,YELP,2018-02-08,38.6300,41.9100,False,38.5900,41.2100,reg,11199461
856,YELP,2018-02-09,38.2900,39.7900,False,37.0200,38.4200,reg,3508482
980,YELP,2018-08-08,38.1600,39.0400,False,37.2600,38.9000,reg,7955674
969,YELP,2018-07-24,38.0000,38.8800,False,37.6100,38.8800,reg,1621889
972,YELP,2018-07-27,38.0000,40.2100,False,37.4600,40.2100,reg,2245517
977,YELP,2018-08-03,37.9200,38.1900,False,37.3600,37.9300,reg,930157
976,YELP,2018-08-02,37.7200,37.9740,False,37.0300,37.2700,reg,1394456
975,YELP,2018-08-01,37.5100,38.1100,False,37.0000,37.0000,reg,1311743
973,YELP,2018-07-30,37.2700,38.2600,False,36.4149,37.8700,reg,1454906
974,YELP,2018-07-31,36.8800,37.6400,False,36.7900,37.1400,reg,1595951

## Feature extraction

The scikit-learn library provides some useful functions for performing feature extraction once a data set is in an appropriate form. Consider the following data set of some apartments.

In [79]:
data = [
    {'price': 850000, 'rooms': 4, 'neighborhood': 'Queen Anne'},
    {'price': 700000, 'rooms': 3, 'neighborhood': 'Fremont'},
    {'price': 650000, 'rooms': 3, 'neighborhood': 'Wallingford'},
    {'price': 600000, 'rooms': 2, 'neighborhood': 'Fremont'}
]

The `DictVectorizer` constructor can be used to create an object that converts data sets that may have categorical information into vectors inside an discrete or continuous vector space.

In [80]:
from sklearn.feature_extraction import DictVectorizer
vec = DictVectorizer(sparse=False, dtype=int)
vec.fit_transform(data)

array([[     0,      1,      0, 850000,      4],
       [     1,      0,      0, 700000,      3],
       [     0,      0,      1, 650000,      3],
       [     1,      0,      0, 600000,      2]], dtype=int64)

It is possible to obtain the feature names corresponding to each dimension. This shows how the single categorical feature dimension has been expanded into three dimensions.

In [81]:
vec.get_feature_names()

['neighborhood=Fremont',
 'neighborhood=Queen Anne',
 'neighborhood=Wallingford',
 'price',
 'rooms']